<h1>this is just a test</h1>
<h2>Go to:</h2>
<form action="/tasks" method="GET">
	<button type="submit">Add Tasks</button>
</form>
<form action="/deleteTasks" method="GET">
	<button type="submit">Delete Tasks</button>
</form>